extends ./base.jade

block head

block content
  header
    h2 The vibe is overflowing at
    h1.location-name #{place.name}
    if place.vibe
      p.last-checked
        | Last checked&nbsp;
        abbr.timeago(title='#{place.vibe.timestamp}') July 17, 2008
    else
      p No vibe readings
  if place.vibe
    section.vibe-details
      #scene.vibe-detail
        h2 Scene
        .scene-details
          div
            h3 #{place.vibe.scene().name}
            .icon(class="icon-scene-#{place.vibe.scene().name}")
          div
            h3 Expect:
            p #{place.vibe.scene().expectations[0]}
            p #{place.vibe.scene().expectations[1]}
            p #{place.vibe.scene().expectations[2]}
    section.vibe-details
      #gender.vibe-detail
        h2 Gender
        h3 #{place.vibe.gender().percentage}%
        .gender-container
          .icon-gender-batman
          .icon-gender-catwoman
        .gender-percentage
          .gender-percentage-bar(style="width:#{place.vibe.gender().percentage}%")
      #density.vibe-detail
        h2 Density
        h3 #{place.vibe.density().name}
        .icon.icon-density(class="icon-density-#{place.vibe.density().num}")
    section.vibe-details
      #now-playing.vibe-detail
        h2 Now Playing
        h3 #{place.vibe.musicSong} by #{place.vibe.musicArtist}
        h3 #{place.vibe.musicGenre}
        .icon.icon-music
      #ambiance.vibe-detail
        h2 Ambiance
        h3 #{place.vibe.ambience().light} and #{place.vibe.ambience().noise}
        .ambience-container
          .icon-light(class="icon-light-#{place.vibe.ambience().light}")
          .icon-noise(class="icon-noise-#{place.vibe.ambience().noise}")
    section.vibe-details
      #payment.vibe-detail
        h2 Payment
        .payment-container
          .icon.icon-cash-yes
          .icon.icon-credit-yes
      #drinks.vibe-detail
        h2 Drinks
        .icon-all-drinks

  footer
    a.button(href='#') Check more vibes
    br
    a.button(href='#') Refresh the vibe

  script(type="text/javascript").
    jQuery(document).ready(function() {
      jQuery("abbr.timeago").timeago();
    });
