extends ./base.jade

block head

block content
  header
    h2 The vibe is overflowing at
    h1.location-name #{place.name}
    if place.vibe
      p.last-checked
        | Last checked&nbsp;
        abbr.timeago(title='#{place.vibe.timestamp}') July 17, 2008
    else
      p No vibe readings
  if place.vibe
    section.vibe-details
      #scene.vibe-detail
        h2 Scene
        .scene-details
          div
            h3 #{place.vibe.scene().name}
          div
            h3 Expect:
            p #{place.vibe.scene().expectations[0]}
            p #{place.vibe.scene().expectations[1]}
            p #{place.vibe.scene().expectations[2]}
    section.vibe-details
      #gender.vibe-detail
        h2 Gender
      #density.vibe-detail
        h2 Density
    section.vibe-details
      #now-playing.vibe-detail
        h2 Now Playing
        h3 #{place.vibe.musicSong} by #{place.vibe.musicArtist}
        h3 #{place.vibe.musicGenre}
      #ambiance.vibe-detail
        h2 Ambiance
        h3 #{place.vibe.ambience().light} and #{place.vibe.ambience().noise}
    section.vibe-details
      #payment.vibe-detail
        h2 Payment
      #drinks.vibe-detail
        h2 Drinks

  footer
    a.button(href='#') Check more vibes
    br
    a.button(href='#') Refresh the vibe

  script(type="text/javascript").
    jQuery(document).ready(function() {
      jQuery("abbr.timeago").timeago();
    });
